event-default-move
  div 自立移動
  move-type(move-type='{ opts.page.moveType }')
  move-route(move-route='{ opts.page.moveRoute }')
  move-speed(move-speed='{ opts.page.moveSpeed }')
  move-frequency(move-frequency='{ opts.page.moveFrequency }')

  style(scoped)
    include event-default-move.css

  script(src='./event-default-move.coffee')
