code127
  div 武器の増減 :
    | { parseWeapon(opts.command.parameters[0]) }
    | { parseOperateValue(opts.command.parameters[1], opts.command.parameters[2], opts.command.parameters[3]) }

  style(scoped,type='less')
    include code127.less

  script(type='coffee')
    include code127.coffee
