code101
  div 文章
    | { parseDefault(opts.command.parameters[0],'なし') }
    | { parseDefault(opts.command.parameters[1],'') }
    | { parseWindowConfig(opts.command.parameters[2]) }
    | { parseWindowVertical(opts.command.parameters[3]) }

  style(scoped,type='less')
    include code101.less

  script(type='coffee')
    include code101.coffee
