event-page-conditions
  div 出現条件
  event-page-switch(
    switch-id='{ opts.conditions.switch1Id }'
    switch-valid='{ opts.conditions.switch1Valid }'
  )
  event-page-switch(
    switch-id='{ opts.conditions.switch2Id }'
    switch-valid='{ opts.conditions.switch2Valid }'
  )

  style(scoped)
    include event-page-conditions.css

  script(src='./event-page-conditions.coffee')
