code121
  div スイッチの操作：
    span(if='{ opts.command.parameters[0] == opts.command.parameters[1] }')
      | { parseSwitchId(opts.command.parameters[0]) }
    span(if='{ opts.command.parameters[0] != opts.command.parameters[1] }')
      | { parseSwitchId(opts.command.parameters[0]) } - { parseSwitchId(opts.command.parameters[1]) }
    span を { parseBoolean(opts.command.parameters[2] === 0,'ON','OFF') } にする

  style(scoped,type='less')
    include code121.less

  script(type='coffee')
    include code121.coffee
