event-page-self-switch
  input(type='checkbox',checked='{ opts.selfSwitchValid }',disabled)
  span [{ opts.selfSwitchCh }] がオンの時

  style(scoped,type='less')
    include event-page-self-switch.less

  script(type='coffee')
    include event-page-self-switch.coffee
