event-detail
  event-id(eventid='{ opts.event.id }')
  event-name(name='{ opts.event.name }')
  event-pages(pages='{ opts.event.pages }')

  style(scoped,type='less')
    include event-detail.less

  script(type='coffee')
    include event-detail.coffee
