event-detail
  div(onclick='{ clickDetail }')
    event-name(name='{ event.name }')
  div
    event-pages(pages='{ event.pages }')

  style(scoped)
    include event-detail.css

  script(src='./event-detail.coffee')
