event-detail
  event-id(eventid='{ event.id }')
  event-name(name='{ event.name }')
  event-pages(pages='{ event.pages }')

  style(scoped,type='less')
    include event-detail.less

  script(type='coffee')
    include event-detail.coffee
