event-command
  div(class='indent_{ opts.command.indent } cmd_{ opts.command.code }')
    span { showCommand(opts.command) }

  style(scoped,type='less')
    include event-command.less

  script(type='coffee')
    include event-command.coffee
