code125
  div 所持金の増減 : { parseOperateValue(opts.command.parameters[0], opts.command.parameters[1], opts.command.parameters[2]) }

  style(scoped,type='less')
    include code125.less

  script(type='coffee')
    include code125.coffee
