code105
  div 文章スクロール
    span 速度[{ opts.command.parameters[0] }]
    span 早送り[{ opts.command.parameters[1] ? 'なし' : 'あり' }]

  style(scoped,type='less')
    include code105.less

  script(type='coffee')
    include code105.coffee
