code123
  div セルフスイッチ
    | { opts.command.parameters[0] } が { opts.command.parameters[1] === 0 ? 'ON' : 'OFF' }

  style(scoped,type='less')
    include code123.less

  script(type='coffee')
    include code123.coffee
