code102
  div 選択肢
    cancel-type(type="{ opts.command.parameters[1] }")
    select-default(index="{ opts.command.parameters[2] }")
    window-horizontal(pos="{ opts.command.parameters[3] }")
    window-config(bg="{ opts.command.parameters[4] }")

  style(scoped,type='less')
    include code102.less

  script(type='coffee')
    include code102.coffee
