event-page
  div.page_info
    div
      event-page-conditions(conditions='{ opts.page.conditions }')
    div
      move-default(page='{ opts.page }')
    div
      event-option(page='{ opts.page }')
    div
      event-trigger(page='{ opts.page }')
  div.page_event
    div
      event-commands(page='{ opts.page }')

  style(scoped,type='less')
    include event-page.less

  script(type='coffee')
    include event-page.coffee
