:scope { display: block; }

:scope > .page_info {
  float   : left;
  display : inline-block;
  width   : 300px;
  margin-right : 5px;
}

:scope > .page_event {
  display : inline-block;
}

:scope > div > div {
  margin-bottom : 5px;
}
