// event-page.css
:scope { display: block; }

:scope > .page_info {
  //position : absolute;
  //position   : static;
  float: left;
  display: inline-block;
  width: 400px;
}

:scope > .page_event {
  //position   : relative;
  //position   :static;
  display: inline-block;
}

:scope > div > div {
  margin-bottom: 5px;
}
