event-page
  event-page-conditions(conditions='{ opts.page.conditions }')
  event-default-move(page='{ opts.page }')
  event-option(page='{ opts.page }')
  event-trigger(page='{ opts.page }')

  script(src='./event-page.coffee')
