event-page
  div
    div
      event-page-conditions(conditions='{ opts.page.conditions }')
    div
      move-default(page='{ opts.page }')
    div
      event-option(page='{ opts.page }')
    div
      event-trigger(page='{ opts.page }')

  style(scoped)
    include event-page.css

  script(src='./event-page.coffee')
