event-commands
  div
    virtual(each='{ command, i in opts.page.list }')
      span
        span(if="{ debug }") { command.code }
        span(class='s{ i }',class='i{ command.indent }')

  style(scoped,type='less')
    include event-commands.less

  script(type='coffee')
    include event-commands.coffee
