event-commands
  div
    ul
      li(each='{ command, i in opts.page.list }')
        event-command(command='{ command }')

  style(scoped)
    include event-commands.css

  script(src='./event-commands.coffee')
