
.indent (@indent) {
  clear   : left;
  float   : left;
  margin-left : @indent;
}

:scope {
  display : block;

  >div {
    display : inline-block;
    border  : solid 1px #aaa;
    //width   : 400px;

    >.i0 { .indent(0em); }
    >.i1 { .indent(1em); }
    >.i2 { .indent(2em); }
  }
}
