event-commands
  div
    ul
      li(each='{ command, i in opts.page.list }')
        event-command(command='{ command }')

  style(scoped,type='less')
    include event-commands.less

  script(type='coffee')
    include event-commands.coffee
