move-frequency
  span { opts.moveFrequency }:{ moveFrequency(opts.moveFrequency) }

  style(scoped,type='less')
    include move-frequency.less

  script(type='coffee')
    include move-frequency.coffee
