event-page-switch
  checkbox(checked='{ opts.switchValid }')
  switch-name(switch-id='{ opts.switchId }')
  span がオンの時

  style(scoped)
    include event-page-switch.css

  script(src='./event-page-switch.coffee')
