event-page-switch
  input(type='checkbox',checked='{ opts.switchValid }',disabled)
  switch-name(switch-id='{ opts.switchId }')
  span がオンの時

  style(scoped)
    include event-page-switch.css

  script(src='./event-page-switch.coffee')
