event-page-switch
  input(type='checkbox',checked='{ opts.switchValid }',disabled)
  span { pad(opts.switchId,4) }

  style(scoped)
    include event-page-switch.css

  script(src='./event-page-switch.coffee')
