event-page-switch
  checkbox(checked='{ opts.switchValid }')
  switch-name(switch-id='{ opts.switchId }')
  span がオンの時

  style(scoped,type='less')
    include event-page-switch.less

  script(type='coffee')
    include event-page-switch.coffee
