code124
  div タイマー操作
    | { opts.command.parameters[0] === 0 ? '始動' : '停止' }
    | { parseTimer(opts.command.parameters[1]) }

  style(scoped,type='less')
    include code124.less

  script(type='coffee')
    include code124.coffee
