event-view
  //breadcrumb-list
  event-list(events='{ datamap.events }')
  event-detail(show='{ event != undefined }',event='{ event }')

  style(scoped,type='less')
    include event-view.less

  script(type='coffee')
    include event-view.coffee
