event-view
  breadcrumb-list
  div.event_list
    event-list(events='{ datamap.events }')
  div.event_detail
    event-detail(show='{ event != undefined }')

  style(scoped)
    include event-view.css

  script(src='./event-view.coffee')
