code111
  div 分岐 type=[{ opts.command.parameters[0] }]
  virtual(if="{ opts.command.parameters[0] == 0 }")
    switch-name(switch-id="{ opts.command.parameters[1] }")
  virtual(if="{ opts.command.parameters[0] == 1 }")
    code111-variable(type="{ opts.command.parameters[4] }",variable1="{ opts.command.parameters[1] }",variable2="{ opts.command.parameters[3] }",variable-type="{ opts.command.parameters[2] }")
  virtual(if="{ opts.command.parameters[0] == 2 }")
    code111-selfswitch(name="{ opts.command.parameters[1] }")

  style(scoped,type='less')
    include code111.less

  script(type='coffee')
    include code111.coffee

code111-variable2
  virtual(if="{ opts.type == 0 }")
    span { opts.variable }
  virtual(if="{ opts.type != 0 }")
    variable-name(variable-id="{ opts.variable }")

code111-variable
  span 変数 type=[{ opts.type }]
  variable-name(variable-id="{ opts.variable1 }")
  | が
  code111-variable2(type="{ opts.variableType }",variable="{ opts.variable2 }")
  virtual(if="{ opts.type == 0 }") と等しい
  virtual(if="{ opts.type == 1 }") 以上
  virtual(if="{ opts.type == 2 }") 以下
  virtual(if="{ opts.type == 3 }") より大きい
  virtual(if="{ opts.type == 4 }") より小さい
  virtual(if="{ opts.type == 5 }") と等しくない

code111-selfswitch
  span セルフスイッチ { opts.name }
