breadcrumb-list
  ul
    li(each='{ breadcrumb in breadcrumbs }')
      a(if='{ breadcrumb == "list" }',href='#',onclick='{ clickList }') イベント
      a(if='{ breadcrumb == "eventid" }',href='#')
        event-id(eventid='{ event.id }')

  style(scoped,type='less')
    include breadcrumb-list.less

  script(type='coffee')
    include breadcrumb-list.coffee
