breadcrumb-list
  ul
    li(each='{ breadcrumb in opts.breadcrumbs }')
      a(if='{ breadcrumb == "list" }',href='#',onclick='{ clickList }') LIST
      a(if='{ breadcrumb == "eventid" }',href='#')
        event-id(eventid='{ parent.event.id }')

  style(scoped)
    include breadcrumb-list.css

  script(src='./breadcrumb-list.coffee')
