breadcrumb-list
  ul
    li(each='{ breadcrumb in opts.breadcrumbs }')
      a(if='{ breadcrumb == "list" }',href='#',onclick='{ clickList }') LIST
      a(if='{ breadcrumb == "eventid" }',href='#')
        event-id(eventid='{ parent.event.id }')

  link(scoped,src='./breadcrumb-list.css',rel='stylesheet',type='text/css')

  script(src='./breadcrumb-list.coffee')
