event-list
  div(each='{ event in opts.events.filter(event_filter) }')
    table
      tr(onclick='{ clickList }')
        td
          event-id(eventid='{ event.id }')
        td
          event-name(name='{ event.name }')
        td
          event-position(pos='{ event }')

  style(scoped,type='less')
    include event-list.less

  script(type='coffee')
    include event-list.coffee
