event-list
  div(each='{ event in events }')
    table
      tr
        td
          event-id(eventid='{ event.id }')
        td { event.name }
        td
          event-position(x='{ event.x }',y='{ event.y }')

  script(src='./event-list.coffee')
