event-list
  div(each='{ event in events }')
    table
      tr
        td
          event-id
        td
          event-name(onclick='{ parent.click }')
        td
          event-position

  script(src='./event-list.coffee')
