event-list
  div(each='{ event in opts.events.filter(event_filter) }')
    table
      tr(onclick='{ clickList }')
        td
          event-id(eventid='{ event.id }')
        td
          event-name(name='{ event.name }')
        td
          event-position

  style(scoped)
    include event-list.css

  script(src='./event-list.coffee')
