event-pages
  ul
    li Pages
    li(
      each='{ page, i in opts.pages }'
      class='{ current: currentPage == i }'
      onclick='{ clickPage }'
    )
      event-page-num(pagenum='{ i + 1 }')

  event-page(page='{ opts.pages[currentPage] }')

  style(scoped,type='less')
    include event-pages.less

  script(type='coffee')
    include event-pages.coffee
