// event-pages.css

:scope { display: block }
ul {
  list-style : none;
  margin     : 0;
  padding    : 0;
  position   : relative;
}
ul:after {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #AAA;
  z-index: 1;
}
ul:before {
  z-index: 1;
}
ul li {
  display : inline-block;
  margin  : 0 2px;
  padding : 0.25em 0.5em;
  border     : 1px solid #AAA;
  background : #ECECEC;
  position: relative;
  z-index: 0;
}
ul li.current {
  background: #FFF;
  color: #000;
  z-index: 2;
  border-bottom-color: #FFF;
}
ul li:first-child {
  border     : none;
  background : #FFF;
}
ul li:last-child {
}
ul li a {
  text-decoration : none;
}
