event-page-actor
  span アクター
  actor-name(actor-id='{ opts.actorId }')
  span が居る

  style(scoped,type='less')
    include event-page-actor.less

  script(type='coffee')
    include event-page-actor.coffee
